@import url('https://fonts.googleapis.com/css?family=Allura|Patrick+Hand|Lato|Parisienne');

.HelloWorld {
  text-align: center;
}

.HelloWorld-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.HelloWorld-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.HelloWorld-title {
  font-size: 1.5em;
}

.HelloWorld-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Map-container {
  width: 720px;
  height: 480px;
  margin:0px auto;
}
.Button{
  background-color: orange;
  width: 50px;
  height: 50px;
}

.leaflet-container {
  height: 480px;
  width: 100%;
}
.pageContainer {
  height: 480px;
  width: 100%;
  background-color: #0E273A;

}
.content{
  width: 1000px;
  margin: auto;
}
.header{
  height: 100px;
  background-color: #79A8BF;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
.logoText{
  font-family: 'Parisienne', cursive;
  color: #0D3148;
  opacity: 0.85;
  font-size: 32pt;
  font-weight: 400;
  background-color: #79A8BF;
  border: 0px;
  border-bottom: 5px solid white;
  padding-left: 25px;
}
.menuItems{
  font-family: 'Patrick Hand';
  font-size: 16pt;
  background-color: #79A8BF;
  border: 0px;
  border-bottom: 5px solid white;
  flex: 1;
  color: white;
}
.menuItems:hover{
  border-bottom: 5px solid #0E273A;
  color: #0D3148;
  opacity: 0.85;
}
.activeMenuItem{
  border-bottom: 5px solid #0E273A;
  color: #0D3148;
  opacity: 0.85;
}
form{
  color: white;
  float:left;
  font-family: 'Lato';
  font-size: 18pt;
  margin-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  letter-spacing: 1px;
  /*text-align: justify;*/

}
form a{
  float: left;
  margin-right: 5px;
  line-height: 34pt;
}
form select, .formSelect, form input{
  float:left;
  display: inline;
  max-width: 240px;
  height: auto;
  background-color: #0E273A;
  color: white;
  border: 0px;
  font-family: 'Lato';
  font-size: 18pt;
  border-bottom: 1px solid white; 
  border-radius: 0px;
  margin-left: 3px;
  margin-right: 3px;
  line-height: 34pt;
}
.genderSelect{
  float:left;
  display: inline;
  max-width: 200px;
  width: auto;
  background-color: #0E273A;
  color: white;
  border: 0px;
  font-family: 'Lato';
  font-size: 18pt;
  border-bottom: 1px solid white; 
  border-radius: 0px;
  margin-left: 3px;
  margin-right: 3px;
  line-height: 34pt;
}
.formSelect{
  width: 320px !important;
  max-width: 500px !important;
}
.chooseDate, .datepickerdiv{
  float:left;
  display: inline;
  width: 130px;
  max-height: 40px;
  height: auto;
  background-color: #0E273A;
  color: white;
  border: 0px;
  font-family: 'Lato';
  font-size: 18pt;
  border-bottom: 1px solid white; 
}
.firstFormLine{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.firstFormLine2{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.zipInput{
  width: 75px;
  margin-top:-10px;
}
.locationInput{
  line-height:32px;
  height: 30px;
  max-width: 700px;
  width: 700px;
}
.mapDiv{
  margin-top: 50px;
  width: 100vw;
  padding-top: 50px;
  padding-bottom: 50px;
  clear: both;
  background-image: url('../ocean.jpeg');
  background-blend-mode: screen;
  background-size: cover;
  opacity: 0.9;
  padding-top: 50px;
  clear: both;
}
body{
  background-color: #0E273A;

}
.fullStoryInput{
  background-color: #79A8BF;
  text-color: white;
  height: 100px;
}
textarea::placeholder{
  color:white;
}
.submitButton{
  float: right;
}
.aboutDiv{
  clear: both;
  float: left;
}
.aboutTitle{
  padding-left: 64px;
  font-family: 'Patrick Hand';
  color: white;
  font-size: 32px;
  text-align: center;
}
.aboutBody{
  font-family: 'Lato';
  color: white;
  font-size: 18px;
  text-align: justify;
  width: 80%;
  margin: 0 auto;
  line-height: 24px;
}
.whiteHr{
  width: 100vw;
  height: 5px;
  color: white;
}